<!-- Project grid -->
	{% assign projects = site.projects | sort: 'project-priority' | reverse %}
	{% for project in projects %}
		<!-- Project grid item -->
		<div class="col-sm-5 col-xs-12 portfolio-item">
			<!--<div class="img-container">-->
				<a href={{project.url}}> 
					<div class="img-thumbnail-container">
						<img class="img-thumbnail-inside img-fluid" src="{{project.permalink}}/{{ project.cover-img }}" alt="">
						<div class="thumbnail-text" >
							<h3>{{ project.title }}</h3>
						</div>
					</div>
				</a>
			<!--</div>-->
		</div>
	{% endfor %}
