<div class="sidebar-content">

	<div class="sidebar-img" align="center">
		<a href="{% if site.baseurl != '' %}{{ site.baseurl }}/{% else %}/{% endif %}"> <img id="logo" src="/assets/Headshot.png" class="img-responsive" style="object-fit: cover;"> </a>
	</div>

	<h1>{{ site.title }}</h1>
	<p>{{ site.description }}</p>

	<ul class="sidebar-menus">
		{% for item in site.data.menu %}
			<li> <a href="{{ item.url }}">{{ item.text }}</a></li>
		{% endfor %}
	</ul>
	
	<br>
	
	<ul class="list-inline list-social-icons mb-0">
		<li class="list-inline-item">
			<a href="https://www.linkedin.com/in/ryangrajewski">
				<img src="/assets/LinkedinLogo.png" class="img-responsive" style="object-fit: cover;">
			</a>
		</li>
		
  	</ul>

	<div class="sidebar-footer">
	</div>
</div>