

/*
 * 
 * RLStevenson CSS
 * ------------
 * 
 * Built by ExchangeRate-API with Bootstrap - inspired by
 * Hyde (https://github.com/mdo/hyde).
 * 
 * 
 * CSS SECTIONS
 *
 * Defaults
 * Blog Content
 * Sidebar
 * Themes
 *
*/



/* DEFAULTS */
html, body {
	height: 100%
}
h1 {
	font-family: Raleway, sans-serif;
}

h3 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	margin-top: 30px;
}

h2 {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	text-align: left;
}
h4 { 
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	text-align: center;
}

p {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	text-align: left;
}
ul {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1em;
	list-style-type: none;
}

ul > li:before {
  position: absolute;
  margin-left: -1.1em; 
}

li {
	margin: 10px 0;
}


.container_accordion{
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 1.5rem;
  }
  
  .accordion-item{
	border-radius: .4rem;
  }
  
  .accordion-item hr{
	border: 1px solid #C34743;
  }
  
  .accordion-link{
	font-size: 1.6rem;
	color: #444;
	text-decoration: none;
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
  }
  
  .accordion-link h3{
	font-weight:500;
	font-size: 20px;
  }
  
  .accordion-link i{
	color: #444;
	padding: .5rem;
  }
  
  .accordion-link ul{
	display:flex;
	align-items: center;
	list-style-type: none;
	font-family: Roboto, sans-serif;
	color: #555;
  }
  
  .accordion-link li{
	font-size: 15px;
	color: #444;
	font-family: Roboto, sans-serif;
	align-items: center;
  }
  
  .accordion-link div{
	display: flex;
  }
  
  .accordion-link .ion-md-arrow-down{
	display: none;
  }
  
  .answer{
	max-height: 0;
	overflow: hidden;
	position: relative;
	transition: max-height 650ms;
  }
  
  .accordion-item.active .answer {
	max-height: 44rem;
  }
  
  .accordion-item.active .accordion-link .ion-md-arrow-forward {
	display: none;
  }
  
  .accordion-item.active .accordion-link .ion-md-arrow-down {
	display: block;
  }
  
  
  .style6 {
	font-size: 22px;
	font-variant: small-caps;
	color: #555;
	text-align: left;
	font-weight: 600;
	line-height: 28px;
	font-family: Roboto, sans-serif;
	align-items:center;
  }
  
  .companyProfile {
	font-style:oblique;
	color:#666666;
	font-size:13.5px;
	text-align:justify;
	margin-right:0;
	font-family: Roboto, sans-serif;
	margin-bottom: 1.5%;
	padding-bottom: 14px;
	border-bottom: .5px solid #444;
  }
  
  .jobBullet1 {
	font-size:14.5px;
	list-style-position:outside;
	margin-left:1%;
	margin-top:12px;
	font-family: Roboto, sans-serif;
  }
  
  .jobBullet1:last-child {
	margin-bottom:2%;
  }
  
  .jobBullet2 {
	font-size:14.5px;
	list-style-position:inside;
	list-style-type:circle;
	margin-left:3%;
	margin-top:7px;
	font-family: Roboto, sans-serif;
  }

/* RESUME PAGE STYLE */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*
 Primary Rules
*/
.style1 {
  font-weight: 300;
  letter-spacing: 3px;
  margin: 10px 10px 0px 0px;
  font-size: 50px;
  color: #C34743;
  padding: 0 0px 0px 0;
  font-family: Roboto, sans-serif;
  font-variant: small-caps;
}

.style2 {
  color: #C34743;
  width: 150px;
  font-size: 22px;
  padding-left: 5px;
  padding-top: 12px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-variant: small-caps
}

.style3 {
  font-size: 18px;
  font-variant: small-caps;
  color: #C34743;
  text-align: center;
  margin-right: inherit;
  font-weight: 600;
  margin-bottom: 7px;
  line-height: 28px;
  font-family: Roboto, sans-serif;
  margin-top: -12px;
  border-bottom: 1px solid #C34743;
}

.style4 {
  font-size: 25px;
  text-align: left;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0px;
  line-height: 25px;
  font-variant: petite-caps;
  font-family: Roboto, sans-serif;
}

.style5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
}

.style6 {
    font-size: 22px;
    font-variant: small-caps;
    color: black;
    text-align: left;
    margin-right: 2.2%;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 28px;
    font-family: Roboto, sans-serif;
    margin-top: -12px;
}

.style2 {
  margin-top: 5px
}

.downloadButton {
  color: black;
  
  display: inline-block;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 2px;
  margin-right: -2px;
}

.link-doc {
	color: #C34743;
	display: inline-flex;
}

.link-doc:hover {
	font-weight: bolder;
	text-decoration: underline #000000;
}

.downloadButton:hover {
  background-color: #C34743;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
  padding: 6px 12px 6px 12px;
}

.key:first-child {
  margin-left: 0
}

.key {
  margin: 0 10px;
  position: relative;
}

.key::before {
  content: '◆';
  position: absolute;
  left: -15px;
  color: #555;
  font-size: 7pt;
}

.key:first-child::before {
  content: ''
}

.section {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 15px;
}

.section:last-child {
  border: none
}

.section-text {
  width: 80%;
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 10px;
  padding: 0 10px 0 0;
}

.subsection {
  margin-top: 5px;
}

.desc {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}

.contact-info {
  font-size: 16px;
  text-align: right;
}

.light {
  color: #666666;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}



ul.skills {
  float: left;
  width: 31%;
  padding-left: 5px;
  margin: 0 20px 0 0;
}

ul.skills li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
}

ul.skills li:last-child {
  margin: 0;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both
}

.col {
  float: left
}

.col-right {
  float: right
}


.subpage {
  padding: 1cm;
  border: 1px red solid;
  height: 297mm;
}



@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  .page-break {
    page-break-before: always;
    padding-top: 30px;
  }

  .section-text {
    font-size: 9pt;
    line-height: 14pt;
  }

  .light {
    font-size: 7.5pt;
    line-height: 12pt;
    color: #ddd;
  }

  .page {
    width: 21cm
  }

 

  .section {
    padding: 5px 0 8px
  }

  .section-text {
    width: 15cm;
    margin: 5px 0 5px;
  }

  .subsection {
    margin: 5px 0 0
  }

  .desc {
    font-size: 9pt
  }

  .contact-info {
    font-size: 9pt
  }

  ul.skills {
    margin: 0 10px 0 0;
  }

  ul.skills li {
    font-size: 9pt;
    margin-bottom: 0;
    color: #ddd;
  }

}

.downloadButton#pdf {
  display: block;
  float: right;
  background: #C34743;
  color: white;
  padding: 6px 12px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
  border-style: solid;
  border-color: #2e2e2d;
  border-width: 1px;
  margin-bottom: .2px;
}

.downloadButton#pdf:hover {
  background: #802C29;
  text-decoration: underline;
}

/* RESUME DROPDOWN STUFF */

/* SPECIALIZED MARKDOWN CONTENT */
.center-image
{
	margin: 2em auto;
    width: 80%;
    display: block;
}

/* PROJECT GRID CONTENT */
.portfolio-item {
	margin: 2% 1%;
	padding: 0px;
	width: 31%;
}

@media (max-width: 768px) {
 	.portfolio-item {
 	width: 48%;
 	height: 100%;
 	}
}

.img-container {
	width: 100%;
}

.img-thumbnail {
	width: 100%;
	height: 200px;
    object-fit: cover;
}

.img-thumbnail-container {
    width: 100%;
    height: 0px;
    padding-top: 100%;
}

.img-thumbnail-inside {
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	-webkit-filter: saturate(75%);
    filter: saturate(75%);
}

.text {
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%,-50%);
	text-align: center;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .3s ease;
	transition: 0s ease;
}

.img-thumbnail-container:hover .overlay {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: .7;
}


/* PROJECT CONTENT */
.carousel {
	width: 100%;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.carousel .carousel-inner {
	background-color: #000000;
}

.carousel .carousel-inner .item {
	width: 100%;
	height: 400px;
	min-height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.carousel-caption {
    top: -10px;
    bottom: auto;
    left: 2%;
    text-align: left;
    font-size: 10px;
}

.project-text {
	width: 100%;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 5em;

}

/* BLOG CONTENT */
.content {
	padding-left: 2em;
	padding-top: 3em;
	padding-right: 2em;
	overflow-y: auto;
}

@media (max-width: 768px) {
	.content {
		
	}
	.project-text {
		text-align: left;
		padding-right: 3em;
		padding-left: 3em;
	}
}

@media (min-width: 768px) {
	.content {
    	margin-left: 400px;
    	width: 66.666%;
    	right: 0;

    }
}

.post {
	margin-bottom: 3em;
}
.post .post-heading {
	margin-bottom: 1em;
}
.post .post-heading h1 {
	margin-top: 1.4em;
}
.post h1 {
	font-size: 2.6em;
	margin-bottom: 0.2em;
	margin-top: 1em;
	font-weight: 500;
}
.post h2 {
	font-size: 1.8em;
	margin-bottom: 0.2em;
	margin-top: 1em;
	font-weight: 300;
}
.post .post-heading span {
	font-size:1.4em;
}
.next {
	margin-left:10px;
}
.previous {
	margin-right:10px;
}


/* SIDEBAR */
.sidebar {
	padding: 1.5em;
	font-size: 1.3em;
	text-align: center;
}

.sidebar .sidebar-img {
	object-position: center bottom;

}

.sidebar .sidebar-content {
	width:100%;
	margin: auto;
	text-align: center;
}
.sidebar .sidebar-freetext {
	margin-top: 1.5em;
}
.sidebar .sidebar-menus {
	padding-left: 0;
	margin-left: 0;
	margin-top: 1.5em;
}
.sidebar .sidebar-menus li {
	list-style: none;
	font-size:1em;
	text-align: center;
}
.sidebar .sidebar-recent {
	margin-top: 1.5em;
}
.sidebar .sidebar-menus li a {
	text-decoration:underline;
	text-align: left;
}
.sidebar ul > li:before {
  content: ""
}

@media (min-width: 768px) {
	.sidebar {
		top: 0;
		bottom: 0;
		left: 20px;
		position: fixed;
		max-width: 400px;
		min-width: 400px;
	}
	.sidebar-content {
		bottom: 1em;
		left: 1em;
		right: 1em;
		position: absolute;
	}
	.sidebar .sidebar-content {
		width:90%;
		margin: auto;
		margin-top: 0px;
		padding-right: 20px;
		padding-left:20px;
		height: 93%;
		overflow-y: auto;
		text-align: center;
	}
	.sidebar .sidebar-img img {
		height: 275px;
		width: 275px;
	}
	.grid-footer {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.sidebar .sidebar-img img {
		height: 100px;
		width: 100px;
	}
	
	.sidebar .sidebar-footer {
		display: none !important;
	}
	
	.sidebar .sidebar-content {
		border-bottom: 1px dotted #ccc;
	}
	
	.grid-footer {
		text-align: center;
	}
}

@media (min-width: 992px) {
	.sidebar {
		width: 30%;
	}
}

.sidebar h1 {
	font-size: 1.8em;
	font-weight: 700;
	margin-bottom: 0;
}
.sidebar li {
	font-size: 0.8em;
	font-weight: 300;
}
p.copyright {
	font-size: 0.7em;
	border-top: 1px dotted #ccc;
	padding-top: 1em;
	margin-top: 2em;
	margin-bottom: 0.1em;
}
p.attr {
	margin-top: 0;
	font-size: 0.6em;
}


/* THEMES */


/* YOUR SCHEME HERE */
.scheme-jlb-invert {
	/* Fonts can be changed here */
	/*font-family: "Helvetica Neue"*/
	font-family: 'Roboto', sans-serif;
	background-color: #fffef9;
}

.scheme-jlb-invert a {
	color: #9a9a9a;
}

.scheme-jlb-invert .sidebar {
	background-color: #fffef9;
	color: #333;
}
.scheme-jlb-invert .sidebar h1 {
	color: #333;
}
.scheme-jlb-invert .sidebar a {
	color: #333;
}
.scheme-jlb-invert .content {
	background-color: #fffef9;
	color: #333;
}
.scheme-jlb-invert .post h1 a{
	color: #333;
}
.scheme-jlb-invert .post .post-heading span {
	color: #9a9a9a;
}

/* Gulf Racing Scheme */
.scheme-gulfracing {
	.sidebar h1 {
		color: #1C1C28;
	}
	.sidebar {
		background-color: #85B2D3;
		color: #444;
	}
}
.scheme-gulfracing .sidebar a {
	color: #444;
}
.scheme-gulfracing .content a {
	color: #E75E16;
}
.scheme-gulfracing .post .post-heading span {
	color: #9a9a9a;
}

/* YOUR SCHEME HERE */
/*.scheme-custom .sidebar {
	background-color: #85B2D3;
	color: #444;
}
.scheme-custom .sidebar h1 {
	color: #1C1C28;
}
.scheme-custom .sidebar a {
	color: #444;
}
.scheme-custom .content a {
	color: #E75E16;
}
.scheme-custom .post .post-heading span {
	color: #9a9a9a;
}*/

/* 
 * The original Hyde theme uses Base16 for colour schemes so
 * we decided to also use this project. We picked different
 * colors though. We also used the Ocean and 80's palettes in
 * addition to the Default palette.
 *
 * Base16: (http://chriskempson.github.io/base16)
 *
*/

/* Dark Brown Scheme */
.scheme-darkbrown .sidebar {
	background-color: #2d2d2d;
	color: #f2f0ec;
}
.scheme-darkbrown .sidebar h1 {
	color: #99cc99;
}
.scheme-darkbrown .sidebar a {
	color: #99cc99;
}
.scheme-darkbrown .content a {
	color: #2d2d2d;
}
.scheme-darkbrown .post .post-heading span {
	color: #9a9a9a;
}

/* Light Brown Scheme */
.scheme-lightbrown .sidebar {
	background-color: #d3d0c8;
	color: #393939;
}
.scheme-lightbrown .sidebar h1 {
	color: #393939;
}
.scheme-lightbrown .sidebar a {
	color: #515151;
}
.scheme-lightbrown .content a {
	color: #393939;
}
.scheme-lightbrown .post .post-heading span {
	color: #9a9a9a;
}

/* Orange Scheme */
.scheme-orange .sidebar {
	background-color: #f99157;
	color: #f2f0ec;
}
.scheme-orange .sidebar h1 {
	color: #515151;
}
.scheme-orange .sidebar a {
	color: #747369;
}
.scheme-orange .content a {
	color: #393939;
}
.scheme-orange .post .post-heading span {
	color: #9a9a9a;
}

/* Green Scheme */
.scheme-green .sidebar {
	background-color: #a3be8c;
	color: #4f5b66;
}
.scheme-green .sidebar h1 {
	color: #2b303b;
}
.scheme-green .sidebar a {
	color: #eff1f5;
}
.scheme-green .content a {
	color: #2d2d2d;
}
.scheme-green .post .post-heading span {
	color: #9a9a9a;
}

/* Slate Scheme */
.scheme-slate .sidebar {
	background-color: #a7adba;
	color: #343d46;
}
.scheme-slate .sidebar h1 {
	color: #2b303b;
}
.scheme-slate .sidebar a {
	color: #bf616a;
}
.scheme-slate .content a {
	color: #65737e;
}
.scheme-slate .post .post-heading span {
	color: #9a9a9a;
}




/* CSS */
.button-13 {
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
	box-sizing: border-box;
	color: #0f1111;
	cursor: pointer;
	display: inline-block;
	font-family: "Amazon Ember",sans-serif;
	font-size: 13px;
	line-height: 29px;
	padding: 0 10px 0 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	width: 100px;
  }
  
  .button-13:hover {
	background-color: #97a1a1;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  }
  
  .button-13:focus {
	border-color: #008296;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
	outline: 0;
  }

  .topmenu ul li.active a, .topmenu ul li a:hover {
    text-decoration:none;
    color:#892121;
    background-color:blueviolet;
}




.menu-button {
	height: 2em;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
  }
  
.menu-button-active {
	height: 2em;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
  }
  
.menu-button-active a{
  display: flex;
	margin: auto;
	padding: .5rem 2rem .75rem 2rem;
	font-family: sans-serif;
	font-size: 1em;
  font-weight:bold;
	text-decoration: none;
	color: #C34743;
	position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
	z-index: 1;
  
  &:after {
	  content: '';
	  display: block;
	  height: 0px;
	  position: absolute;
	  bottom: 0;
	  right: .6rem;
	  left: .6rem;
    border-bottom-color: #C34743;
    border-bottom-style: solid;
    border-bottom-width: 4px;
	  background-color: #d1cfcf;
	  transition: all .3s cubic-bezier(.2, 0, 0, 1);
	  transform-origin: bottom center;
	  z-index: -1;
	}
  
  &:hover {
	  color: #C34743;
    background-color:#d1cfcf;
	  
	  &:after {
		right: 0;
		left: 0;
		height: 100%;
	  }
	}
  
}

  .menu-button a {
	display: flex;
	margin: auto;
	padding: .5rem 2rem;
	font-family: sans-serif;
	font-size: 1em;
	text-decoration: none;
	color: black;
	position: relative;
	transition: all .3s cubic-bezier(.2, 0, 0, 1);
	z-index: 1;
	
	
	&:after {
	  content: '';
	  display: block;
	  height: 2px;
	  position: absolute;
	  bottom: 0;
	  right: 1.25rem;
	  left: 1.25rem;
	  background-color: #d1cfcf;
	  transition: all .3s cubic-bezier(.2, 0, 0, 1);
	  transform-origin: bottom center;
	  z-index: -1;
	}
	
	&:hover {
	  color: white;
    font-weight:bold;
	  
	  &:after {
		right: 0;
		left: 0;
		height: 100%;
	  }
	}
  }