

/*
 * 
 * RLStevenson CSS
 * ------------
 * 
 * Built by ExchangeRate-API with Bootstrap - inspired by
 * Hyde (https://github.com/mdo/hyde).
 * 
 * 
 * CSS SECTIONS
 *
 * Defaults
 * Blog Content
 * Sidebar
 * Themes
 *
*/



/* DEFAULTS */
html, body {
	height: 100%
}
h1 {
	font-family: Raleway, sans-serif;
}

h3 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	margin-top: 30px;
}

h2 {
	font-family: Roboto, sans-serif;
	font-weight: 1300;
	font-size: 1.2em;
	text-align: center;
}
h4 { 
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	text-align: center;
}

p {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	text-align: left;
}
ul {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1em;
	list-style-type: none;
}

ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 
}

li {
	margin: 10px 0;
}

/* SPECIALIZED MARKDOWN CONTENT */
.center-image
{
	margin: 2em auto;
    width: 80%;
    display: block;
}

/* PROJECT GRID CONTENT */
.portfolio-item {
    margin: 2% 1%;
    padding: 0px;
    width: 28%;
	height: 225px;
}


@media (max-width: 768px) {
 	.portfolio-item {
 	width: 48%;
 	height: 200%;
 	}
	
}

.img-container {
	width: 100%;
	height: 275px;
}

.img-thumbnail {
	width: 100%;
	height: 100%;
    object-fit: cover;
}

.img-thumbnail-container {
    width: 100%;
	height: 150%;
	//padding-top: 6.45em;
	//padding-bottom: 25%;
}

.img-thumbnail-inside {
	position: absolute;
  	top: 0;
  	left: 0;
	margin-bottom: 0;
  	width: 100%;
  	height: 225px;
  	object-fit: cover;
  	-webkit-filter: saturate(75%);
    filter: saturate(75%);
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%,-50%);
	text-align: center;
	display: none;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .3s ease;
	transition: 0s ease;
}

.img-thumbnail-container:hover .overlay {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: .5;

}


/* PROJECT CONTENT */
.carousel {
	width: 100%;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.carousel .carousel-inner {
	background-color: #000000;
}

.carousel .carousel-inner .item {
	width: 100%;
	height: 400px;
	min-height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.carousel-caption {
    top: -10px;
    bottom: auto;
    left: 2%;
    text-align: left;
    font-size: 10px;
}

.project-text {
	width: 100%;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 5em;

}

/* BLOG CONTENT */
.content {
	padding-left: 2em;
	padding-top: 3em;
	padding-right: 2em;
	overflow-y: auto;
}

@media (max-width: 768px) {
	.content {
		
	}
	.project-text {
		text-align: left;
		padding-right: 3em;
		padding-left: 3em;
	}
}

@media (min-width: 768px) {
	.content {
    	margin-left: 400px;
    	width: 66.666%;
    	right: 0;

    }
}

.post {
	margin-bottom: 3em;
}
.post .post-heading {
	margin-bottom: 1em;
}
.post .post-heading h1 {
	margin-top: 1.4em;
}
.post h1 {
	font-size: 2.6em;
	margin-bottom: 0.2em;
	margin-top: 1em;
	font-weight: 500;
}
.post h2 {
	font-size: 1.8em;
	margin-bottom: 0.2em;
	margin-top: 1em;
	font-weight: 300;
}
.post .post-heading span {
	font-size:1.4em;
}
.next {
	margin-left:10px;
}
.previous {
	margin-right:10px;
}


/* SIDEBAR */
.sidebar {
	padding: 1.5em;
	font-size: 1.3em;
	text-align: center;
}

.sidebar .sidebar-img {
	object-position: center bottom;

}

.sidebar .sidebar-content {
	width:100%;
	margin: auto;
	text-align: center;
}
.sidebar .sidebar-freetext {
	margin-top: 1.5em;
}
.sidebar .sidebar-menus {
	padding-left: 0;
	margin-left: 0;
	margin-top: 1.5em;
}
.sidebar .sidebar-menus li {
	list-style: none;
	font-size:1em;
	text-align: center;
}
.sidebar .sidebar-recent {
	margin-top: 1.5em;
}
.sidebar .sidebar-menus li a {
	text-decoration:underline;
	text-align: left;
}
.sidebar ul > li:before {
  content: ""
}

@media (min-width: 768px) {
	.sidebar {
		top: 0;
		bottom: 0;
		left: 20px;
		position: fixed;
		max-width: 400px;
		min-width: 400px;
	}
	.sidebar-content {
		bottom: 1em;
		left: 1em;
		right: 1em;
		position: absolute;
	}
	.sidebar .sidebar-content {
		width:90%;
		margin: auto;
		margin-top: 0px;
		padding-right: 20px;
		padding-left:20px;
		height: 93%;
		overflow-y: auto;
		text-align: center;
	}
	.sidebar .sidebar-img img {
		height: 275px;
		width: 275px;
	}
	.grid-footer {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.sidebar .sidebar-img img {
		height: 100px;
		width: 100px;
	}
	
	.sidebar .sidebar-footer {
		display: none !important;
	}
	
	.sidebar .sidebar-content {
		border-bottom: 1px dotted #ccc;
	}
	
	.grid-footer {
		text-align: center;
	}
}

@media (min-width: 992px) {
	.sidebar {
		width: 30%;
	}
}

.sidebar h1 {
	font-size: 1.8em;
	font-weight: 700;
	margin-bottom: 0;
}
.sidebar li {
	font-size: 0.8em;
	font-weight: 300;
}
p.copyright {
	font-size: 0.7em;
	border-top: 1px dotted #ccc;
	padding-top: 1em;
	margin-top: 2em;
	margin-bottom: 0.1em;
}
p.attr {
	margin-top: 0;
	font-size: 0.6em;
}


/* THEMES */


/* YOUR SCHEME HERE */
.scheme-jlb-invert {
	/* Fonts can be changed here */
	/*font-family: "Helvetica Neue"*/
	font-family: 'Roboto', sans-serif;
	background-color: #fffef9;
}

.scheme-jlb-invert a {
	color: #9a9a9a;
	text-decoration: underline;
}

.scheme-jlb-invert .sidebar {
	background-color: #fffef9;
	color: #333;
}
.scheme-jlb-invert .sidebar h1 {
	color: #333;
}
.scheme-jlb-invert .sidebar a {
	color: #333;
}
.scheme-jlb-invert .content {
	background-color: #fffef9;
	color: #333;
}
.scheme-jlb-invert .post h1 a{
	color: #333;
}
.scheme-jlb-invert .post .post-heading span {
	color: #9a9a9a;
}

/* Gulf Racing Scheme */
.scheme-gulfracing {
	.sidebar h1 {
		color: #1C1C28;
	}
	.sidebar {
		background-color: #85B2D3;
		color: #444;
	}
}
.scheme-gulfracing .sidebar a {
	color: #444;
}
.scheme-gulfracing .content a {
	color: #E75E16;
}
.scheme-gulfracing .post .post-heading span {
	color: #9a9a9a;
}

/* YOUR SCHEME HERE */
/*.scheme-custom .sidebar {
	background-color: #85B2D3;
	color: #444;
}
.scheme-custom .sidebar h1 {
	color: #1C1C28;
}
.scheme-custom .sidebar a {
	color: #444;
}
.scheme-custom .content a {
	color: #E75E16;
}
.scheme-custom .post .post-heading span {
	color: #9a9a9a;
}*/

/* 
 * The original Hyde theme uses Base16 for colour schemes so
 * we decided to also use this project. We picked different
 * colors though. We also used the Ocean and 80's palettes in
 * addition to the Default palette.
 *
 * Base16: (http://chriskempson.github.io/base16)
 *
*/

/* Dark Brown Scheme */
.scheme-darkbrown .sidebar {
	background-color: #2d2d2d;
	color: #f2f0ec;
}
.scheme-darkbrown .sidebar h1 {
	color: #99cc99;
}
.scheme-darkbrown .sidebar a {
	color: #99cc99;
}
.scheme-darkbrown .content a {
	color: #2d2d2d;
}
.scheme-darkbrown .post .post-heading span {
	color: #9a9a9a;
}

/* Light Brown Scheme */
.scheme-lightbrown .sidebar {
	background-color: #d3d0c8;
	color: #393939;
}
.scheme-lightbrown .sidebar h1 {
	color: #393939;
}
.scheme-lightbrown .sidebar a {
	color: #515151;
}
.scheme-lightbrown .content a {
	color: #393939;
}
.scheme-lightbrown .post .post-heading span {
	color: #9a9a9a;
}

/* Orange Scheme */
.scheme-orange .sidebar {
	background-color: #f99157;
	color: #f2f0ec;
}
.scheme-orange .sidebar h1 {
	color: #515151;
}
.scheme-orange .sidebar a {
	color: #747369;
}
.scheme-orange .content a {
	color: #393939;
}
.scheme-orange .post .post-heading span {
	color: #9a9a9a;
}

/* Green Scheme */
.scheme-green .sidebar {
	background-color: #a3be8c;
	color: #4f5b66;
}
.scheme-green .sidebar h1 {
	color: #2b303b;
}
.scheme-green .sidebar a {
	color: #eff1f5;
}
.scheme-green .content a {
	color: #2d2d2d;
}
.scheme-green .post .post-heading span {
	color: #9a9a9a;
}

/* Slate Scheme */
.scheme-slate .sidebar {
	background-color: #a7adba;
	color: #343d46;
}
.scheme-slate .sidebar h1 {
	color: #2b303b;
}
.scheme-slate .sidebar a {
	color: #bf616a;
}
.scheme-slate .content a {
	color: #65737e;
}
.scheme-slate .post .post-heading span {
	color: #9a9a9a;
}