<script src="JavaScript/jquery-1.10.2.js" type="text/javascript"></script> 

<script type="text/javascript">
    $(function() {
        // this will get the full URL at the address bar
        var url = window.location.href;

        // passes on every "a" tag
        $(".topmenu a").each(function() {
            // checks if its the same on the address bar
            if (url == (this.href)) {
                $(this).closest("li").addClass("active");
                //for making parent of submenu active
               $(this).closest("li").parent().parent().addClass("active");
            }
        });
    });        
</script>

{% include header.html %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 sidebar">
			{% include sidebar-content.html %}
			</div>
			
			<div class="col-sm-4 col-md-6 col-lg-5 content">
				{{ content }}

			</div>
			
		</div>
		
		<!-- Grid footer - only shown on mobile -->
		<div class="col-sm-4 col-md-3 grid-footer">
			<p class="copyright">&copy; {{ site.time | date: '%Y' }}. All content <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>.</p>
		</div>
	</div>

{% include footer.html %}